@model IEnumerable<ClinicaP2.Models.Especialidad>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="bg-info">Lista de Especialidades</h2>

<p class="btn btn-default">
    @Html.ActionLink("Registrar Especialidad", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombEspe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstaEspe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombEspe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstaEspe)
        </td>
        <td>
            <button class="btn btn-success">@Html.ActionLink("Editar", "Edit", new { id = item.CodEspe }) </button>

            <button class="btn btn-danger">@Html.ActionLink("Eliminar", "Delete", new { id = item.CodEspe })</button>
        </td>
    </tr>
}

</table>
