@model IEnumerable<ClinicaP2.Models.Trabajador>

@{
    /**/

    ViewBag.Title = "ListMedicosporesp";
}




@{

    int idespecialidad = ViewBag.idesp;

    ClinicaP2.Models.BDCLINICAEntities bd = new ClinicaP2.Models.BDCLINICAEntities();

    var esp = from tra in bd.Especialidad where tra.EspCodigo == idespecialidad select tra;

    string nomesp = "";
    string descripcion = "";


    foreach (var item in esp)
    {
        nomesp = item.EspEspecialidad;
        descripcion = item.EspDescripcion;
    }
    <h2 class="bg-info">Lista de trabajadores de @nomesp</h2>


    <h1>@nomesp</h1>
    <h2>@descripcion</h2>

    <br />

    <h2 align="center">MEDICOS</h2>
    foreach (var item in Model)
    {
        <br />
        <div>
            <img src="@Url.Content("~/Content/Images/"+item.TraCodigo+".jpg")" class="img-circle" height="150" width="200">

            <br />
            @item.Persona.PerApellido @item.Persona.PerNombre
            <br />
            @item.Especialidad.EspEspecialidad
            <br />
            @item.TraHorasTrabajo horas semanales
            <br />
            <a href="@Url.Action("CreatePac", "Pacientes", new { idtrabajador = item.TraCodigo })">Reservar Consulta</a>
        </div>


        <br />
    }


    @Html.ActionLink("Regresar", "LisEspecialidadtoDoctor")
}
