@model IEnumerable<ClinicaP2.Models.Consulta>

@{
    ViewBag.Title = "ListConsultaxDni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Busqueda por Dni</h2>
@using (@Html.BeginForm("ListConsultaxDni", "Consultas", FormMethod.Get))
{
    <fieldset>
        <legend>Buscar</legend>
        @Html.Label("lblProducto", "DNI :")
        @Html.TextBox("dni")
        <input type="submit"  value="Buscar" />
    </fieldset>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ConsEstado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConsFecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.PacCodigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trabajador.TraUsuario)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConsEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.PacCodigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trabajador.TraUsuario)
            </td>
            
        </tr>
    }

</table>
