@model IEnumerable<ClinicaP2.Models.Consulta>

@{
    ViewBag.Title = "ListConsultaxDni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Busqueda por Dni</h2>
@using (@Html.BeginForm("ListConsultaxDni", "Consultas", FormMethod.Get))
{
<fieldset>
    <legend>Buscar</legend>
    @Html.Label("lblProducto", "DNI :")
    @Html.TextBox("dni")
    <input type="submit" value="Buscar" />
</fieldset>}

<table class="table">
    <tr>
        <th>
           N°
        </th>
        <th>
          Paciente
        </th>
        <th>
          N° Consulta
        </th>
        <th>
          Estado
        </th>
        <th></th>
    </tr>

    @{

        int cont = 0;

       


        if (Model == null)
        {
            <tr><td>Ningun Dato encontrado</td></tr>
        }
        else
        {

            foreach (var item in Model)
            {

               string estado ="";

                switch (item.ConsEstado)
                {
                    case 1: estado = "Pendiente"; break;
                    case 2: estado = "Atendido"; break;
                    case 3: estado = "Suspendido"; break;
                }

                cont++;

                <tr>
                    <td>
                     @cont
                    </td>
                    <td>
                      @item.Paciente.Persona.PerNombre   @item.Paciente.Persona.PerApellido
                    </td>
                    <td>
                      @item.ConsCodigo
                    </td>
                    <td>
                       @estado
                    </td>
                    <td>
                    </td>
                </tr>
            }


        }
    }

</table>
