@model ClinicaP2.Models.Trabajador

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2 class="bg-info">Registrar Medico</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })




    <div class="form-group">
        <b class="col-md-2 control-label">NOMBRE</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Persona.PerNombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Persona.PerNombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <b class="col-md-2 control-label">APELLIDO</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Persona.PerApellido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Persona.PerApellido, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <b class="col-md-2 control-label">DNI</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Persona.PerDni, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Persona.PerDni, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <b class="col-md-2 control-label">RUC</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Persona.PerRuc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Persona.PerRuc, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <b class="col-md-2 control-label">TELEFONO</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Persona.PerTelefono, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Persona.PerTelefono, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <b class="col-md-2 control-label">CORREO</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Persona.PerCorreo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Persona.PerCorreo, "", new { @class = "text-danger" })
        </div>
    </div>

    @* GENERO  TEXTO LLENADO MANUALMENTE *@
    <div class="form-group">
        <b class="col-md-2 control-label">GENERO</b>
        <div class="col-md-10">
            @{
                List<SelectListItem> lst = new List<SelectListItem>();
                lst.Add(new SelectListItem() { Text = "Hombre", Value = "1" });
                lst.Add(new SelectListItem() { Text = "Mujer", Value = "0" });
                ViewBag.lstseleccionada = lst;
            }

            @Html.DropDownListFor(x => x.Persona.PerGenero, lst, "Seleccionar", new { @class = "form-control" })

        </div>
    </div>



    <div class="form-group">
        <b class="col-md-2 control-label">ESPECIALIDAD</b>
        <div class="col-md-10">
            @Html.DropDownList("EspCodigo", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EspCodigo, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <b class="col-md-2 control-label">JORNADA</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TraHorasTrabajo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TraHorasTrabajo, "", new { @class = "text-danger" })
        </div>
    </div>




    <div class="form-group">
        <b class="col-md-2 control-label">USUARIO</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TraUsuario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TraUsuario, "", new { @class = "text-danger" })
        </div>
    </div>




    <div class="form-group">
        <b class="col-md-2 control-label">CONTRASEÑA</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TraContrasena, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TraContrasena, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Registrar" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div class="btn btn-default" >
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
