@model IEnumerable<ClinicaP2.Models.Trabajador>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="bg-info">Lista Medicos</h2>


<table class="table">
    <tr>
        <th>
            Nombres
        </th>
        <th>
            Apellidos
        </th>
        <th>
            Género
        </th>
        <th>
            DNI
        </th>
        <th>
            Correo
        </th>
        <th>
            Estado
        </th>
        <th>
            Especialidad
        </th>
        <th>
            Teléfono
        </th>
        <th>
            horas a la semana
        </th>
        <th></th>
    </tr>

@{

    foreach (var item in Model) {

        string sex = "";
        string est = "";
        if (item.Persona.PerGenero)
        {
            sex = "Masculino";
        }
        else
        {
            sex = "Femenino";
        }

        if (item.TraEstado==1)
        {
            est = "Activo";
        }
        else
        {
            est = "Inactivo";
        }




    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.PerNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.PerApellido)
        </td>
        <td>
            @sex
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.PerDni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.PerCorreo)
        </td>
        <td>
            @est
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Especialidad.EspEspecialidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.PerTelefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TraHorasTrabajo)
        </td>

        <td>
            <button class="btn btn-primary" style="background:#ffffff">@Html.ActionLink("Editar", "Edit", new { id = item.TraCodigo }) </button>
        </td>
    </tr>
        }
    }

</table>
