@model IEnumerable<ClinicaP2.Models.Consulta>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2 class="bg-info">Reservar Cita Medica</h2>

    <table class="table">
        <tr>
            <th>
                Codigo
            </th>
            <th>
                Fecha Cita
            </th>
            <th>
                Paciente
            </th>
            <th>
                Precio
            </th>
            <th>
                Estado de Pago
            </th>
            <th>
                Estado de Cita
            </th>
    

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            string estado = "";

            switch (item.ConsEstado)
            {
                case 1: estado = "Pendiente"; break;
                case 2: estado = "Atendido"; break;
                case 3: estado = "anulado"; break;

            }

            <tr>
                <td>
                    @item.ConsCodigo
                </td>
                <td>
                    @item.ConsFecha
                </td>
                <td>
                    @item.Paciente.Persona.PerNombre  @item.Paciente.Persona.PerApellido
                </td>
                @*<td>
                        @item.Medico.NomTra  @item.Medico.ApeTra
                    </td>*@
                @*<td>
                        @item.Medico.Especialidad.NombEspe
                    </td>*@
                @*<td>
                        @item.Medico.CodEspe
                    </td>*@
                <td>
                    @item.Trabajador.Especialidad.EspPrecio
                </td>
                <td>
                  PAGADO
                </td>
                <td>
                    @estado
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ConsCodigo }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ConsCodigo }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ConsCodigo })
                </td>
            </tr>
        }

    </table>
