@model ClinicaP2.Models.Consulta

@{
    ViewBag.Title = "CreatePac";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="bg-info">Registrar paciente</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    <script>
        function mostrar(dato) {
            if (dato == "1") {
                document.getElementById("nombre").style.display = "block";
                document.getElementById("apellido").style.display = "block";
                document.getElementById("dni").style.display = "block";
                document.getElementById("ruc").style.display = "block";
                document.getElementById("telefono").style.display = "block";
                document.getElementById("correo").style.display = "block";
                document.getElementById("genero").style.display = "block";
                document.getElementById("fechanac").style.display = "block";
                document.getElementById("consfecha").style.display = "block";
            }
            if (dato == "2") {
                document.getElementById("nombre").style.display = "none";
                document.getElementById("apellido").style.display = "none";
                document.getElementById("dni").style.display = "block";
                document.getElementById("ruc").style.display = "none";
                document.getElementById("telefono").style.display = "none";
                document.getElementById("correo").style.display = "none";
                document.getElementById("genero").style.display = "none";
                document.getElementById("fechanac").style.display = "none";
                document.getElementById("consfecha").style.display = "block";
            }
        }



    </script>



    <div class="form-group" id="opciones">
        <label for="">Opciones:</label>
        <input type="radio" name="opc" value="1" onchange="mostrar(this.value);">Nuevo paciente
        <input type="radio" name="opc" value="2" onchange="mostrar(this.value);">Paciente conocido
    </div>


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<div class="form-group">
            @Html.LabelFor(model => model.CodPac, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CodPac, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CodPac, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group" id="nombre">
        @Html.LabelFor(model => model.Paciente.Persona.PerNombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Paciente.Persona.PerNombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Paciente.Persona.PerNombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" id="apellido">
        @Html.LabelFor(model => model.Paciente.Persona.PerApellido, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Paciente.Persona.PerApellido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Paciente.Persona.PerApellido, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" id="dni">
        @Html.LabelFor(model => model.Paciente.Persona.PerDni, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Paciente.Persona.PerDni, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Paciente.Persona.PerDni, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" id="ruc">
        @Html.LabelFor(model => model.Paciente.Persona.PerRuc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Paciente.Persona.PerRuc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Paciente.Persona.PerRuc, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group" id="telefono">
        @Html.LabelFor(model => model.Paciente.Persona.PerTelefono, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Paciente.Persona.PerTelefono, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Paciente.Persona.PerTelefono, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group" id="correo">
        @Html.LabelFor(model => model.Paciente.Persona.PerCorreo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Paciente.Persona.PerCorreo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Paciente.Persona.PerCorreo, "", new { @class = "text-danger" })
        </div>
    </div>

    @* GENERO PACIENTE  0=MUJER : 1=HOMBRE *@
    <div class="form-group" id="genero">
        @Html.LabelFor(model => model.Paciente.Persona.PerGenero, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{
                List<SelectListItem> lis = new List<SelectListItem>();
                lis.Add(new SelectListItem() { Text = "Mujer", Value = "0" });
                lis.Add(new SelectListItem() { Text = "Hombre", Value = "1" });
            }
            @Html.DropDownListFor(x => x.Paciente.Persona.PerGenero, lis, "Seleccionar", new { @class = "form-control" })


        </div>
    </div>



    <div class="form-group" id="fechanac">
        @Html.LabelFor(model => model.Paciente.PacFechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Paciente.PacFechaNacimiento, new { htmlAttributes = new { @class = "form-control", @type = "date" } })

            @*<input class="form-control" type="date">*@
        </div>
    </div>


    <div class="form-group" id="consfecha">
        @Html.LabelFor(model => model.ConsFecha, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ConsFecha, new { htmlAttributes = new { @class = "form-control", @type = "date" } })

            @*<input class="form-control" type="date">*@
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Registrar Consulta" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div class="btn btn-default">
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
