@model IEnumerable<ClinicaP2.Models.Paciente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="bg-info">Lista Pacientes</h2>


<table class="table">
    <tr>
        <th>
            Codigo
        </th>
        <th>
            Nombres
        </th>
        <th>
            Apellidos
        </th>
        <th>
            Telefono
        </th>
        <th>
            Dni
        </th>
        <th>
            Genero
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    string sex = "";
    string esta = "";
    if (item.Persona.PerGenero)
    {
        sex = "Masculino";
    }
    else
    {
        sex = "Femenino";
    }
    if (item.PacEstado==1)
    {
        esta = "Activo";
    }
    else
    {
        esta = "Inactivo";
    }


    <tr>
        <td>
            @item.PerCodigo
        </td>
        <td>
           @item.Persona.PerNombre
        </td>
        <td>
            @item.Persona.PerApellido
        </td>
        <td>
            @item.Persona.PerTelefono
        </td>
        <td>
            @item.Persona.PerDni
        </td>
        <td>
            @sex
        </td>
        <td>
            @esta
        </td>
        <td>
            <p class="btn btn-success" > @Html.ActionLink("Editar", "Edit", new { id = item.PerCodigo }) </p>
           
            <p class="btn btn-danger"> @Html.ActionLink("Eliminar", "Delete", new { id = item.PerCodigo })</p>
        </td>
    </tr>
}

</table>
