<!DOCTYPE html>
<html>
<head>


    <meta charset="UTF-8">

    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="~/Content/css/styles.css">

    <title>@ViewBag.Title - Proyecto Clinica UTP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="wrapper hover_collapse">
        <div class="top_navbar">
            <div class="logo">Clinica<span>JS</span></div>




            <div class="menu">
                <div class="hamburger">
                    <i class="fas fa-bars"></i>
                </div>

                <div class="profile_wrap">
                    <div class="profile">
                        <img src="profile.png" alt="profile_pic">
                        <span class="name">Alvaro Mamani</span>
                        <span class="icon">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="sidebar">
            <div class="sidebar_inner">
                <ul class="principal">

                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas fa-chess"></i></span>
                            <span class="text">Medicos</span>

                            <ul>


                                @Html.ActionLink("Medicos", "Index", "Medicos")

                            </ul>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas fa-chess"></i></span>
                            <span class="text">Especialidad</span>

                            <ul>
                                @* "Nombre al control","Nombre como se declara el controlador","Nombre de la carpeta" *@
                                @Html.ActionLink("Especialidad", "Index", "Especialidads")
                            

                            </ul>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas fa-chess"></i></span>
                            <span class="text">Pacientes</span>

                            <ul>
                                @* "Nombre al control","Nombre como se declara el controlador","Nombre de la carpeta" *@
                                @Html.ActionLink("Pacientes", "Index", "Pacientes")
                                @Html.ActionLink("Buscar", "About", "Home")
                               

                            </ul>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas fa-chess"></i></span>
                            <span class="text">Citas</span>

                            <ul>
                                @Html.ActionLink("Reservar Cita", "Index", "RESERVACIONs")
                               

                            </ul>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main_container">
            <div class="container">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Proyecto Clinica UTP</p>
                </footer>
            </div>
        </div>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/js/scripts.js"></script>

</body>
</html>
