<!DOCTYPE html>
<html>
<head>


    <meta charset="UTF-8">

    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="~/Content/css/styles.css">
    

    <title>@ViewBag.Title - Proyecto Clinica UTP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>@{ 

    ClinicaP2.Models.BDCLINICAEntities bd = new ClinicaP2.Models.BDCLINICAEntities();

    // bd.Trabajador cli = (clientesdep)Session["clientedep"];
    ClinicaP2.Models.Trabajador tra = (ClinicaP2.Models.Trabajador)Session["trabajador"];
    //int sesion = Convert.ToInt32(tra.TipoTrabajador);
    int tipo_trabajador;

    if (tra == null)
    {
        tipo_trabajador = 3;
    }
    else
    {
        tipo_trabajador = Convert.ToInt32(tra.TipoTrabajador.TipCodigo); 
    }

}

    <div class="wrapper hover_collapse">
        <div class="top_navbar">

            <div class="menu" style="width: 40px;">
                <div class="hamburger">
                    <i class="fas fa-bars"></i>
                </div>

            </div>




            <div class="menu" style="height: 35px; padding-right: 10px; padding-left: 10px; width: 1550px;">
                <div class="logo" style=" width: 191px;padding-left: 10px;">Clinica<span>UTP</span></div>



                <div class="profile_wrap">
                    <div class="profile">


                        <span class="fas fa-user" aria-hidden="true"></span>

                        @if (tra == null)
                        {

                            <a href="@Url.Action("login", "Medicos")">
                                Iniciar Sesión
                            </a>



                        }
                        else
                        {
                            @tra.Persona.PerApellido
                            <a href="@Url.Action("logout", "Home")">
                                Cerrar Sesión
                            </a>
                        }



                    </div>
                </div>
            </div>

        </div>
        <div class="sidebar">
            <div class="sidebar_inner">
                <ul class="principal">


                    @{






                        var query = from u in bd.ConfigMenu
                                    join ur in bd.ConfigButton on u.ConfButton equals ur.ConfButId
                                    where u.ConfTipTrabaja == tipo_trabajador && ur.ConfPadre == null

                                    select new
                                    {
                                        nombre = ur.ConfButName,
                                        codigopadre = ur.ConfButId
                                    };

                        foreach (var item in query)
                        {





                            <li>
                                <a href="#">
                                    <span class="icon"><i class="fas fa-chess"></i></span>
                                    <span class="text">@item.nombre</span>

                                    @{

                                        var listahijos = from u in bd.ConfigMenu
                                                         join ur in bd.ConfigButton on u.ConfButton equals ur.ConfButId
                                                         where u.ConfTipTrabaja == tipo_trabajador && ur.ConfPadre == item.codigopadre
                                                         select ur;

                                        foreach (var item2 in listahijos)
                                        {
                                            <ul>


                                                @Html.ActionLink(item2.ConfButName, item2.ConfFuncion, item2.ConfControlador)

                                            </ul>
                                        }
                                    }


                                </a>
                            </li>


                        }



                    }


                </ul>
            </div>
        </div>

        <div class="main_container">
            <div class="container">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Proyecto Clinica UTP</p>
                </footer>
            </div>
        </div>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/js/scripts.js"></script>
   

</body>
</html>
